#Matlab auto save files
*.asv

#These changes dont need to be tracked - user specific files
.vscode/
**/__pycache__/

#I found online that these damn .ds_store files are mac related
*.DS_Store

#getting rid of these damn tex built files from the repo, they can stay on local machine fine
#nothing will break if downloaded without them, when built again the tex software will create new files
*.aux
*.log
*.nav
*.synctex(busy)
*.synctex.gz
*.toc
*.out
*.snm
