#Matlab auto save files
*.asv

#Dont want to add images
#Maybe change later? Or create a location on Google Drive for images 
#to save space on the GitHub repo.
*.png
*.jpeg
*.jpg

#These changes dont need to be tracked - user specific files
.vscode/
**/__pycache__/